/* ------------------------------------------------------------------ */
/* default
/* ------------------------------------------------------------------ */

/*  1. Basic
--------------------------------------------------------------------- */
*,
*:before,
*:after {
	@include box-sizing;
}

html { font-size: 62.5%; }
body {
   font-family: $font-sans;
   font-size: 15px;
   line-height: 25px;
   letter-spacing: 0.01em;
   -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
  	text-rendering: optimizeLegibility;
}



/*  2. Typography
--------------------------------------------------------------------- */
@font-face {
  font-family: 'montserrat';
  src: url('../scss/vendor/montserrat/Montserrat-Regular.eot'); /* IE9 Compat Modes */
  src: url('../scss/vendor/montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../scss/vendor/montserrat/Montserrat-Regular.woff') format('woff'), /* Modern Browsers */
       url('../scss/vendor/montserrat/Montserrat-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../scss/vendor/montserrat/Montserrat-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserratLight';
  src: url('../scss/vendor/montserrat/Montserrat-Light.eot'); /* IE9 Compat Modes */
  src: url('../scss/vendor/montserrat/Montserrat-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../scss/vendor/montserrat/Montserrat-Light.woff') format('woff'), /* Modern Browsers */
       url('../scss/vendor/montserrat/Montserrat-Light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../scss/vendor/montserrat/Montserrat-Light.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
  font-family: 'montserratBold';
  src: url('../scss/vendor/montserrat/Montserrat-Bold.eot'); /* IE9 Compat Modes */
  src: url('../scss/vendor/montserrat/Montserrat-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../scss/vendor/montserrat/Montserrat-Bold.woff') format('woff'), /* Modern Browsers */
       url('../scss/vendor/montserrat/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../scss/vendor/montserrat/Montserrat-Bold.svg#svgFontName') format('svg'); /* Legacy iOS */
}

h1, h2, h3, h4, h5, h6 {
   font-family:$font-sans;
   font-weight: normal;
   a{ font-weight: inherit; }
}


p {
  margin: 0 0 0 0;
  img { margin: 0; }
  &.lead {
  	font: 20px/36px $font-sans;
  	margin-bottom: 18px;
  	color:$color-text;
  }
}

mark {
   background-color:$color-tertiary;
   color: $color-complement;
   padding: 5px 10px;
}

/*	Blockquotes */
blockquote {
   margin: 30px 0px;
   padding-left: 40px;
   position: relative;

   &:before {
   	content: "\201C";
   	opacity: 0.45;
   	font-size: 80px;
   	line-height: 0px;
   	margin: 0;
   	font-family:$font-sans;
   	position: absolute;
   	top:  30px;
   	left: 0;
   }

   p{
   	font-family:$font-sans;
   	font-style: italic;
   	padding: 0;
   	font-size: 18px;
   	line-height: 30px;
   }

   cite {
   	display: block;
   	font-size: 12px;
   	font-style: normal;
   	line-height: 18px;
   	&:before { content: "\2014 \0020"; }
   }
}



/* ---------------------------------------------------------------------
/*  Pull Quotes Markup

    <aside class="pull-quote">
		<blockquote>
			<p></p>
		</blockquote>
	 </aside>
/*
/* --------------------------------------------------------------------- */
.pull-quote {
	position: relative;
	padding: 18px 30px 18px 0px;

	&:before,
	&:after {
		height: 1em;
		opacity: 0.45;
		position: absolute;
		font-size: 80px;
		font-family:$font-sans;
	}

	&:before {
		content: "\201C";
		top:  33px;
		left: 0;
	}

	&:after {
		content: '\201D';
		bottom: -33px;
		right: 0;
	}

	blockquote {
		margin: 0;
		&:before {content: none;}
	}

}

/* Abbreviations */
abbr {
   font-family: $font-serif;
   font-variant: small-caps;
   text-transform: lowercase;
   letter-spacing: .5px;
   color: gray;
   &:hover { cursor: help; }
}

/* drop cap */
.drop-cap:first-letter {
	float: left;
	margin: 0;
	padding: 14px 6px 0 0;
	font-size: 84px;
	font-family: /* Copperplate */$font-serif;
	line-height: 60px;
	text-indent: 0;
	background: transparent;
	color: inherit;
}

hr { border: solid #E3E3E3; border-width: 1px 0 0; clear: both; margin: 11px 0 30px; height: 0; }


/*  3. Links  ------------------------------------------------------- */
a, a:visited {
   text-decoration: none!important;
   outline: 0;
   @include transition(all .3s ease);
}
a:hover, a:focus { /*color:$color-hover; */}
p a, p a:visited { line-height: inherit; }



/*  4. List  --------------------------------------------------------- */

ul {
	list-style: none outside;
	&.square { list-style: square outside; }
	&.circle { list-style: circle outside; }
	&.disc { list-style: disc outside; }
}

ol { list-style: decimal; }
ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }


/* ---------------------------------------------------------------------
/*  Stats Tab Markup

    <ul class="stats-tabs">
		<li><a href="#">[value]<b>[name]</b></a></li>
	 </ul>

    Extend this object into your markup.
/*
/* --------------------------------------------------------------------- */
.stats-tabs {
   padding: 0;
   margin: 24px 0;

   li {
   	display: inline-block;
   	margin: 0 10px 18px 0;
   	padding: 0 10px 0 0;
   	border-right: 1px solid #ccc;

   	&:last-child {
   		margin: 0;
   		padding: 0;
   		border: none;
   	}

   	a {
   		display: inline-block;
   		font-size: 22px;
   		color: $color-primary;
   		font-family: $font-sans;
   		border: none;

   		&:hover {color:$color-tertiary;}
   		b {
   			display: block;
   			margin: 6px 0 0 0;
   			font-size: 13px;
   			font-family: $font-sans;
   			color:$color-tertiary;
   		}
   	}/*end of stats-tabs li a*/

   }
}



/* definition list */
dl { margin: 12px 0; }
dt { margin: 0; color:$color-text; }
dd { margin: 0 0 0 20px; }

/* Lining Definition Style Markup */

.lining {
	dt,
	dd {
		display: inline;
		margin: 0;
	}
	dt dt:before,
	dd dt:before {
		content: "\A";
		white-space: pre;
	}
	dd dd:before {
		content: ", ";
	}
	dd:before {
		content: ": ";
		margin-left: -0.2em;
	}

}




/* Dictionary Definition Style Markup */
.dictionary-style {
	dt {
		display: inline;
		counter-reset: definitions;
		&:before {
			content: ", ";
			margin-left: -0.2em;
		}
	}

	dd {
		display: block;
		counter-increment: definitions;
		&:before {
			content: counter(definitions, decimal) ". ";
		}
	}


}



/* Pagination */
.pagination {
   margin: 36px auto;
   text-align: center;

   ul li {
   	display: inline-block;
   	margin: 0;
   	padding: 0;
   }

   .page-numbers {
      font: 15px/18px $font-sans;
      display: inline-block;
      padding: 6px 10px;
      margin-right: 3px;
      margin-bottom: 6px;
      color: #6E757C;
      background-color: #E6E8EB;
      @include transition(all 200ms ease-in-out);
      @include rounded(3px);

      &:hover {
         background: #838A91;
         color: #fff;
      }
      &.current,
      &.current:hover {
         background-color:$color-link;
         color: #fff;
      }
      &.inactive,
      &.inactive:hover {
         background-color: #E6E8EB;
         color: #A9ADB2;
      }
      &.prev,&.next {}
   }


}

/*  5. Images  --------------------------------------------------------- */
img {
   max-width: 100%;
   height: auto;
   &.pull-right { margin: 12px 0px 0px 18px; }
   &.pull-left { margin: 12px 18px 0px 0px; }
}
