/* ------------------------------------------------------------------ */
/* index
/* ------------------------------------------------------------------ */
#section1 {
    background-image: url('../images/banner1@2x.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}
#section2 {
    background-image: url('../images/banner2@2x.jpg');
    background-size: cover;
    background-position: center center;
}
#section3 {}
.intro h1 {
    font-size: 1em;
    line-height: 1.1;
    color: $color-secondary;
    font-family: $font-sans-bold;
    opacity: 0;
    @include max-screen(992px) {
      font-size: 1em;
    }
}
