/* ------------------------------------------------------------------ */
/* index
/* ------------------------------------------------------------------ */
#section1 {
}
#section2 {
}
#section1,
#section2 {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    @include max-screen(992px) {
      background-attachment: inherit;
    }
}
#section3 {}
.intro h1 {
    font-size: 6em;
    line-height: 1.1;
    color: $color-secondary;
    font-family: $font-sans-bold;
    opacity: 0;
    @include max-screen(992px) {
        font-size: 1em;
    }
}
